# Jarvis - API Keys
# Obtén tu API Key en: https://openweathermap.org/api
OPENWEATHERMAP_API_KEY=tu_api_key_aqui

# Obtén tu API Key en: https://newsapi.org/register
NEWSAPI_API_KEY=tu_api_key_aqui

# Obtén tu API Key en: https://aistudio.google.com/apikey
GEMINI_API_KEY=tu_api_key_aqui
